In [1]:
import os
import pandas as pd

# read dataset
file_path = os.path.realpath('../project/assets/iris.csv')
iris = pd.read_csv(file_path)

iris.head()

   sepal_length   sepal_width   petal_length   petal_width        class
0           5.1           3.5            1.4           0.2  Iris-setosa
1           4.9           3.0            1.4           0.2  Iris-setosa
2           4.7           3.2            1.3           0.2  Iris-setosa
3           4.6           3.1            1.5           0.2  Iris-setosa
4           5.0           3.6            1.4           0.2  Iris-setosa

## Renaming Values

The class column includes full genus-species names which is redundant as the dataset only includes flowers of the Iris genus  
Updating the values to species name, and renaming the column to species to reflect this change

The column names also include some whitespace which is taken care of by renaming all of them

In [2]:
# renaming columns
column_names = ["sepal_length", "sepal_width", "petal_length", "petal_width", "species"]
iris.columns = column_names

# renaming genus-species to species
species_names = {"Iris-setosa": "setosa", "Iris-versicolor": "versicolor", "Iris-virginica": "virginica"}
iris["species"] = iris["species"].map(species_names) # mapping dict to species values

iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Saving dataframe to csv to use in upcoming data analysis

In [3]:
 # index = False to not save the index numbers, note that they will be re-added by default when reading csv
iris.to_csv("assets/iris_clean.csv", index = False)