# 1:1

A dataset is made up of the values 3, 6, 7, 8, 5, 5, 6, 5, 9, 14, 13, and 9

Using this dataset, calculate the:

In [1]:
import math
import pandas as pd

dataset = sorted([3, 6, 7, 8, 5, 5, 6, 5, 9, 14, 13, 9])
df_dataset = pd.DataFrame(dataset)

dataset

[3, 5, 5, 5, 6, 6, 7, 8, 9, 9, 13, 14]

---
### a) Mode (Typvärde)

In [2]:
# using pandas
df_dataset.mode()[0][0]

5

In [3]:
# calculating "manually"
values = []
occurences = []

for value in set(dataset):
    values.append(value)
    occurences.append(dataset.count(value))

max_occurences = max(occurences)
mode = values[occurences.index(max_occurences)]

mode

5

---
### b) Median

In [4]:
# using pandas
median = df_dataset.median()[0]
median

6.5

---
### c) Mean (Medelvärde)

In [5]:
df_dataset.mean()[0]

7.5

In [6]:
mean = sum(dataset) / len(dataset)
mean

7.5

---
### d) Range (Variationsvidd)

In [7]:
df_dataset.var()[0] # TODO: is this the same as below calculation?

11.0

In [8]:
df_dataset.max()[0] - df_dataset.min()[0]

11

In [9]:
range = max(dataset) - min(dataset)
range

11

---
### e) First Quartile (Första Kvartilen)

In [10]:
df_dataset.describe() # first quartile is the 25% value

               0
count  12.000000
mean    7.500000
std     3.316625
min     3.000000
25%     5.000000
50%     6.500000
75%     9.000000
max    14.000000

In [11]:
index = int(len(dataset) * 0.25)

dataset[index]

5

---
### f) Third Quartile (Tredje Kvartilen)

In [12]:
df_dataset.describe() # third quartile is the 75% value

               0
count  12.000000
mean    7.500000
std     3.316625
min     3.000000
25%     5.000000
50%     6.500000
75%     9.000000
max    14.000000

In [13]:
index = int(len(dataset) * 0.75)

dataset[index]

9

---
### g) Variance (assuming the dataset is a sample)

In [14]:
df_dataset.var()[0]

11.0

In [15]:
mean = sum(dataset)/len(dataset)
variance = 0
for i in dataset:
    variance += (i - mean)**2
variance = variance/(len(dataset)-1)
variance

11.0

---
### h) Standard Deviation (assuming the dataset is a sample)

In [16]:
df_dataset.std()[0]

3.3166247903554

In [17]:
standard_deviation = math.sqrt(variance)

standard_deviation

3.3166247903554

---
### i) MAD (Mean Absolute Deviation) (Standardavvikelse)

In [18]:
(df_dataset - df_dataset.mean()).abs().mean()[0]

2.5833333333333335

In [19]:
count = []

for i in dataset:
    count.append(abs(i - mean))

mad = sum(count) / len(count)
mad

2.5833333333333335

---
### j) Skewness

In [20]:
df_dataset.skew()[0]

0.9060291313097095