# 1:2

In a workplace with a large amount of employees, a sample of employee age is made based on 7 employees

Using this sample, describe the:

In [11]:
import pandas as pd
import math

sample = sorted([23, 57, 46, 37, 35, 32, 41])
df_sample = pd.DataFrame(sample)

sample

[23, 32, 35, 37, 41, 46, 57]

---
### a) Mode (Typv√§rde)

In [21]:
df_sample.mode()

    0
0  23
1  32
2  35
3  37
4  41
5  46
6  57

---
### b) Median

In [22]:
df_sample.median()[0]

37.0

In [14]:
sample_sorted = sorted(sample) # need to sort values before getting median
print(sample_sorted)

middle_index = len(sample_sorted) / 2 - 0.5 # -0.5 to get middle index instead of a decimal number
print(f"{middle_index = }")

if len(sample_sorted) % 2 == 0: # if sample size is even, add surrounding indices and divide by 2
    print((sample_sorted[math.floor(middle_index)] + sample_sorted[math.ceil(middle_index)]) / 2)

else: # if sample size is uneven, get middle index
    print(f"median = {sample_sorted[int(middle_index)]}")

[23, 32, 35, 37, 41, 46, 57]
middle_index = 3.0
median = 37

---
### c) Mean

In [23]:
df_sample.mean()[0]

38.714285714285715

In [24]:
mean = sum(sample) / len(sample)
mean

38.714285714285715

---
### d) Variation Width

In [25]:
variation_width = max(sample) - min(sample)
variation_width

34

---
### e) First Quarter

In [18]:
# definition as described by Lantz:
# the first quarter is the fictive position (n + 1) / 4

n = len(sample)

position = (n + 1) / 4
print(f"{position = }")

first_quarter = value1 * 0.25 + value2 * 1-0.25

position = 2.0

NameError: name 'value1' is not defined

In [ ]:
# midpoint
#

---
### f) Third Quarter

---
### g) Variance

s^2 = 1 / n+1 sum(x_i - x-streck) = 1 / n-1 sum(x_i^2 - n * x-streck^2)

In [ ]:
# using pandas
df_sample.var()

0    116.904762
dtype: float64

In [ ]:
# calculating "manually"
n = len(sample)
print(f"{n = }")

x_streck = sum(sample) / len(sample)
print(f"{x_streck = }")

xi = sum([i*i for i in sample])
print(f"{xi = }")

print(f"\nvariance = {(1 / (n - 1)) * (xi - n*(x_streck**2))}")

n = 7
x_streck = 38.714285714285715
xi = 11193

variance = 116.90476190476177