# 2:10

In a university, the amount of men and women in each respective year group looks as follows:

In [1]:
import pandas as pd

table = pd.DataFrame()

table.index     = ["Year 1", "Year 2", "Year 3"]
table["Men"]    = [19, 18, 18]
table["Women"]  = [14, 16, 11]

table

        Men  Women
Year 1   19     14
Year 2   18     16
Year 3   18     11

---
### Assume a student is picked at random, what is the odds that this student is:

In [2]:
# first calculating sums of all rows and columns

# adding a sum row
table.loc["Sum"] = table.sum(axis = "rows")

# adding a sum column
table["Sum"] = table.sum(axis = "columns")


table

        Men  Women  Sum
Year 1   19     14   33
Year 2   18     16   34
Year 3   18     11   29
Sum      55     41   96

---
### a) A Man

In [3]:
# 55 men out of 96 students gives:
odds = 55 / 96

print(f"{odds * 100:.2f}%")

57.29%

---
### b) Not a Third Year Student

In [4]:
# 33 first year and 34 second year out of 96 students gives:
odds = (33 + 34) / 96

print(f"{odds * 100:.2f}%")

69.79%

---
### c) Male first or second year student

In [5]:
# 19 first and 18 second year male out of 96 students gives:
odds = (19 + 18) / 96

print(f"{odds * 100:.2f}%")

38.54%

---
### d) First Year Student and Woman

In [6]:
# 14 female first year students out of 96 total gives:
odds = 14 / 96

print(f"{odds * 100:.2f}%")

14.58%

---
### e) First year student, given that the student is a woman

In [7]:
# P(A|B)
# 14 first year students out of 41 women total gives:
odds = 14 / 41

print(f"{odds * 100:.2f}%")

34.15%

In [8]:
# can also be calculated using the formula:
# P(A|B) = P(A AND B) / P(B)
odds = (14 / 96) / (41 / 96) # for manual calculation, multiply both by 96 to get 14 / 41 which is the same as above calculation

print(f"{odds * 100:.2f}%")

34.15%

---
### f) A woman, given that the studen is a first year student

In [9]:
# P(A|B)
# 14 women out of 33 first year students gives:
odds = 14 / 33

print(f"{odds * 100:.2f}%")

42.42%

In [10]:
# can also be calculated using the formula:
# P(A|B) = P(A AND B) / P(B)
odds = (14 / 96) / (33 / 96) # for manual calculation, multiply both by 96 to get 14 / 41 which is the same as above calculation

print(f"{odds * 100:.2f}%")

42.42%

---
### g) A woman or first year student (or both)

In [11]:
# P(A U B)
# P(A) + P(B) - overlap, which is P(A AND B)

# odds woman
PA = 41 / 96

# odds first year student
PB = 33 / 96

# odds for overlap to be subtracted, in order to not count overlapping event twice
overlap = 14 / 96

odds = PA + PB - overlap

print(f"{odds * 100:.2f}%")

62.50%