# 12:9

In [67]:
import pandas as pd
from math import sqrt

df = pd.DataFrame()

df["Month"] = [1, 2, 3, 4, 5, 6]
df["Income"] = [1.9, 2.2, 2.2, 2.5, 2.7, 2.6]

df

   Month  Income
0      1     1.9
1      2     2.2
2      3     2.2
3      4     2.5
4      5     2.7
5      6     2.6

In [68]:
from scipy.stats import pearsonr, linregress

pearsonr(df["Month"], df["Income"])
linregress(df["Month"], df["Income"])

LinregressResult(slope=0.15142857142857144, intercept=1.82, rvalue=0.9391201333182926, pvalue=0.0054467159552273395, stderr=0.027701027756664744, intercept_stderr=0.10788000388438648)

In [69]:
n = len(df)
x_bar = sum(df["Month"]) / n
y_bar = sum(df["Income"]) / n

x_bar, y_bar

(3.5, 2.35)

In [70]:
SSx = sum([x**2 for x in df["Month"]]) - sum(df["Month"])**2 / n
SSy = sum([x**2 for x in df["Income"]]) - sum(df["Income"])**2 / n

SSxy = sum([i * j for i, j in zip(df["Month"], df["Income"])]) - (sum(df["Month"]) * sum(df["Income"])) / n

SSx, SSy, SSxy

(17.5, 0.4550000000000054, 2.650000000000013)

In [71]:
b1 = SSxy / SSx

b1

0.15142857142857216

In [72]:
b0 = y_bar - b1 * x_bar

b0

1.8199999999999976

In [73]:
r = SSxy / sqrt(SSx * SSy)

r

0.9391201333182916

In [74]:
r**2

0.8819466248037657

In [75]:
b0 + b1 * 7

2.8800000000000026

bonus

In [76]:
t_test = r / sqrt((1 - r**2) / (n - 2))

t_test

5.466532605171555

In [77]:
t_crit = 2.132 # for alpha = 0.05

t_test, t_crit # t_test more extreme than t_crit -> sig

(5.466532605171555, 2.132)